.OperationLog {
    margin: 40px 40px 0;
    width: 100%;
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    .OperationLog-header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 30px;
    }
    .blue-div {
        width:6px;
        height:20px;
        background:rgba(24,144,255,1);
    }
    .header-text {
        line-height: 20px;
        font-size: 16px;
        margin-left: 8px;
    }
    .OperationLog-form {
        margin: 30px 0 30px;
    }
    .table {
        margin-bottom: 70px;
        border-bottom: 1px solid #dcdee2;
    }
    .page {
        margin: 0 auto;
    }
    .btn-cnt {
        flex-direction: row;
        margin-bottom: 20px;
    }
    .btn-item {
        margin: 0 20px;
    }
    .time-div {
        div {
            flex-direction: row;
        }
    }
}
