.addOwner-dialog {
    font-size: 14px;
    .addOwner-dialog-body {
        max-height: 400px;
        overflow-y: auto;
    }
    .next-dialog-body {
        padding: 0 !important;
        max-height: 760px;
        overflow-y: auto;
    }
    .addOwner-header {
        background:rgb(245,248,252);
        height:42px;
        width: 728px;
        padding: 0px 125px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .ownerInfo-header {
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        .blue-div {
            width:6px;
            height:20px;
            background:rgba(24,144,255,1);
        }
        .header-text {
            line-height: 20px;
            font-size: 14px;
            margin-left: 8px;
        }
    }
    .addOwer-img {
        width: 36px;
    }
    .addOwner-form {
        padding: 21px 0;
    }
    
    .add-Cnt {
        display: flex;
        align-items: center;
        cursor: pointer;
        .icon-add {
            width: 18px;
            height: 18px;
            margin-right: 6px;
        }
    }
    .address-item {
        padding-left: 125px;
        margin-top: 30px;
        .next-form-item {
            display: flex;
            flex-direction: row;
        }
        .next-form-item-label {
            width: 75px;
        }
    }
    .addOwner-visible {
        display: none;
    }
    .addOwner-top {
        margin-top: 65px;
    }
}
