body {
  margin: 0;
  padding: 0;
}
.router-Cnt {
  display: flex;
  flex-direction: row;
  background: #f8f8f8;
}
.next-dialog-header {
  text-align: center;
  padding: 20px;
}
.pagination-cnt {
  display: flex;
}